services:
  app:
    build: .
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - ./data:/data
    ports:
      - "5930:5900"
    env_file:
      - app.env
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        rm /tmp/.X99-lock || true
        Xvfb :99 -ac -screen 0 1920x1080x16 -listen tcp &
        x11vnc -shared -forever -noxdamage -display :99 -nopw -loop -xkb &
        export DISPLAY=:99
        sleep 3
        pnpm start -- --games=$GAME_NAME
