services:
  app:
    build: .
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - ./data:/data
    ports:
      - "5930:5900"
    env_file:
      - app.env
    environment:
      - ENABLE_LOGIN=true
    entrypoint: ["/app/entrypoint.sh"]
